---
layout: page
title: Archives
---

{% include search.html %}

{% include archive.html %}

<h3>Articles</h3>
<div class="panel panel-default">
  <div class="panel-body">
    {% for post in site.posts %}
    <div class="row">
      <div class="col-sm-3 col-md-3 col-lg-3">
        <h5 style="text-align: right">
          {{ post.date | date: "%B %d, %Y" }}
        </h5>
      </div>
      <div class="col-sm-9 col-md-9col-lg-9">
        <h5 style="text-align: left">
          <strong><a href="{{ site.baseurl }}/{{ post.url }}">{{ post.title }}</a></strong>
        </h5>
      </div>
    </div>
    <!-- * {{ post.date | date: "%B %e, %Y" }} [ {{ post.title }} ]({{ post.url }}) -->
    {% endfor %}
  </div>
</div>

{% include search-js.html %}
