---
layout: page
title: Archives
---

{% include search.html %}

{% include archive_tags.html %}

{% include collect_categories.html %}

<h2>Articles</h2>

<div id="archives" class="panel panel-default">
  <div class="panel-body">

    {% for category_name in categories_array %}
      <div class="archive-group">
        <div id="#{{ category_name | slugize }}"></div>
        <p></p>

        <h3 class="category-head">{{ category_name | capitalize }}</h3>
        <a name="{{ category_name | slugize }}"></a>

        <ul id="latest-posts" class="post-list">
          {% for post in site.posts %}
            <!-- <div class="row">
              <div class="col-sm-3 col-md-3 col-lg-3">
                <h5 style="text-align: right">
                  {{ post.date | date: "%b %d, %Y" }}
                </h5>
              </div>
              <div class="col-sm-9 col-md-9 col-lg-9">
                <h5 style="text-align: left">
                  <strong><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></strong>
                </h5>
              </div>
            </div> -->
            {% assign cate = post.categories | first | downcase %}
            {% if cate == category_name %}
            <li class="post-stub" >
              <a href="{{ site.baseurl }}{{ post.url }}" title="Go to post detail">
                <h4 class="post-stub-title">{{ post.title }}</h4>
                <small>
                  <time class="post-stub-date" datetime="{{ post.date | date: '%Y-%m-%d' }}">
                    {{ post.date | date: "%b %d, %Y" }}
                  </time>
                </small>
              </a>
            </li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    {% endfor %}
  </div>
</div>



{% include search-js.html %}
