.post-tags {
    display: block;
    margin-top: -.5rem;
    margin-bottom: .5rem;
}

/*
 * Global resets
 *
 * Update the foundational and global aspects of the page.
 */
html {
    font-family: "Avenir Next", "PT Sans", Helvetica, Arial, sans-serif;
}
@media (min-width: 48rem) {
  html {
    font-size: 18px;
  }
}
@media (min-width: 64rem) {
  html {
    font-size: 18px;
  }
}
@media (min-width: 80rem) {
  html {
    font-size: 18px;
  }
}

h1, h2, h1 a, h2 a:lang(zh) {
  font-weight: 600;
  font-family: "Avenir Next", "PT Sans", "Noto Sans CJK", "Microsoft JhengHei", sans-serif;
}
h3, h4, h5, h6, p, table, img, a, ul, li:lang(zh) {
  font-family: "Avenir Next", "PT Sans", "Noto Sans CJK", "Microsoft JhengHei", sans-serif;
}
blockquote p:lang(zh){
  font-family: "Avenir Next", "PT Sans", "STKaiti", "Kaiti", "cwTeXKai", "Microsoft JhengHei", sans-serif;
}

.social {
  word-spacing: 0.8rem;
}

section.container {
  padding: 0;
  margin: 2.5rem 0;
}

.page-heading {
  margin-bottom: 1rem;
}

.post .read-more {
    font-size: 16.8px;
    background: none;
    background-image: none;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
    border: solid 1px #2d3339;
    border-top-color: rgb(45, 51, 57);
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: rgb(45, 51, 57);
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: rgb(45, 51, 57);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: rgb(45, 51, 57);
    border-left-style: solid;
    border-left-width: 1px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    font-family: "PT Sans Narrow","Helvetica Neue",Helvetica,Arial,sans-serif;
    padding: 6px 10px;
    padding-top: 6px;
    padding-right: 10px;
    padding-bottom: 6px;
    padding-left: 10px;
    text-transform: uppercase;
}
.post .read-more:hover {
    background-color: #2d3339;
    color: #fdfdfd;
    text-decoration: none;
}
